<!DOCTYPE html>
<html>
<head>
	<meta charset="windows-1256">
	<title>View products</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$.getJSON("http://localhost:9090/products",function(result){
			$.each(result,function(key,value){
				$("#productsJson").append(value.id+" " +value.name + " ");
			});
		});
	});
	</script>
</head>
<body>
	<div id="productsJson">
	</div>
</body>
</html>